*.egg*
*.lock
*.mo
*.pot
*.pyc
*.sqlite3
*.sw?
*nose_results.html
.DS_STORE
.DS_Store
.coverage*
.environment_version
.idea
.noseids
.selenium_log
.tox
.vscode
/cover
/static/
AUTHORS
ChangeLog
__pycache__
build
coverage-karma
coverage.xml
dist
doc/build/
dump
ghostdriver.log
nosetests.xml
releasenotes/build
tags
tash
